---
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Oswald:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

$green: #5f6736;
$gold: #f1d281;
$red: #dd0330;
$blue: #24509b;
$gray: #3e3934;
$offwhite: #f3eee1;
$opaque_gray: rgba(62, 57, 52, 0.70);

$serif: "Libre Baskerville", serif;
$sans: "Oswald", sans-serif;

body, html { overflow-x:hidden; }

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

article, aside, figure, figure img, hgroup, footer, header, nav, section {
  display: block;
}

img, object, embed, video, iframe {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

p {margin: 1.333em 0;}

h4 {
  font-size: 1.25em;
  margin: 1em 0 .5em;
}

main ul {
  list-style: disc;
  li {
    margin: .25em 0 .25em 1.138em;
  }
}

strong {font-weight: bold;}
em {font-style: italic;}

body {
  background: #f5f3ed;
  border-top: 4px solid $red;
  color: $gray;
  font-family: $serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

header {
  background-color: #d4ceb7;
  position: relative;
}

.background {
  background-size: cover;
  content: "";
  padding-top: 75%;
  width: 100%;
}

#background1 {
  background-image: url(/images/background1_sm.jpg)
}
#background2 {
  background-image: url(/images/background2_sm.jpg)
}
#background3 {
  background-image: url(/images/background3_sm.jpg)
}
#background4 {
  background-image: url(/images/background4_sm.jpg)
}

@media screen and (min-width: 750px) {
  .background {
    padding-top: 50%;
  }
  #background1 {
    background-image: url(/images/background1.jpg)
  }
  #background2 {
    background-image: url(/images/background2.jpg)
  }
  #background3 {
    background-image: url(/images/background3.jpg)
  }
  #background4 {
    background-image: url(/images/background4.jpg)
  }
}

#identity {
  background: $gray;
  padding: 0 1.5em 1.5em;
  position: relative;
  z-index: 1000;
}

#logo_container {
  position: relative;
  margin: 0 auto;
  width: 100px;
  top: -50px;
}

h1 {
  color: white;
  font-family: $sans;
  font-size: 1.777em;
  letter-spacing: 1px;
  line-height: 1.333em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

@media screen and (min-width: 750px) {
  #identity {
    background: $opaque_gray;
    right: 1.5em;
    padding: 2em;
    position: absolute;
    top: 1.5em;
    width: 40%;
    z-index: 1000;
  }
  #logo_container, h1 {
    position: static;
  }
  h1 {
    margin-top: .25em;
  }
}

@media screen and (min-width: 900px) {
  #identity {
    padding: 4.5em;
    right: 3em;
    top: 3em;
    width: 50%;
  }
  h1 {
    font-size: 2.369em;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.157em;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inner {padding: 1.5em;}

main {
  line-height: 1.618;
}

main a {
  &:link, &:visited {
    color: darken($red, 15%);
  }
  &:hover, &:active {
    color: $red;
  }
}

main h3 {
  font-family: $sans;
  font-size: 1.333em;
  line-height: 1.333;
  margin: 1.333em 0 1em;
  text-transform: uppercase;
  em {
    font-style: normal;
    text-decoration: underline;
  }
}

@media screen and (min-width: 800px) {
  main {
    float: left;
    font-size: 1.333em;
    width: 64%;
  }
  aside {
    float: right;
    width: 34%;
  }
}

@media screen and (max-width: 799px) {
  aside {
    max-width: 600px;
  }
}

aside {
  margin: 1.5em 0;
  h2, h3 {
    font-family: $sans;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.777em;
    line-height: 1.333;
  }
  h3 {
    color: white;
    font-size: 1.333em;
    line-height: 1.618;
    padding: 0.422em 0.563em;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
    @media screen and (max-width: 600px) {
      font-size: 1.125em;
    }
  }
  li {
    margin: 1.5em 0;
  }
  .description {
    background: white;
  }
  p {
    line-height: 1.618;
    padding: 1em;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: lighten($gray, 25%);
      em {color: darken($gray, 5%);}
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
  figure {
    overflow: hidden;
  }
}

aside h3 .fa-link {
  opacity: 0.65;
  margin-left: .25em;
}

li.membership {
  border-bottom: 3px solid $red;
  h3 {background: $red;}
}

li.reunions {
  border-bottom: 3px solid $green;
  h3 {background: $green;}
}

li.membership a:hover h3 {
  background: darken($red, 10%);
}

li.reunions a:hover h3 {
  background: darken($green, 10%);
}

li.facebook a:hover h3 {
  background: darken($blue, 10%);
}

li.facebook {
  h3 {
    background: $blue;
    color: white;
  }
  span {
    display: inline-block;
    margin-right: .25em;
    vertical-align: middle;
  }
}

.fa {
  line-height: inherit;
}

footer {
  background: darken($offwhite, 2%);
  font-family: $sans;
  line-height: 1.333;
  text-align: center;
  a {
    color: darken($red, 15%);
  }
  #jayhawk_container {
    margin: 1.5em auto;
    max-width: 200px;
  }
}