---
layout: default
class: home
---

.container
  %main
    %p The VII Corps Desert Storm Veterans Association was founded in 1996 by General Fred M. Franks, US Army Retired, and a group of dedicated wartime veterans. General Franks was the VII Corps commander during Desert Shield/Storm.
    
    %p The Association was formed to:
    
    %ul
      %li Foster camaraderie between VII Corps Desert Shield/Storm veterans at annual Reunion events;
      %li Preserve the legacy of Operation Desert Shield/Storm;
      %li To honor and remember our fallen comrades at a Memorial Service during each Reunion;
      %li Provide charitable assistance to VII Corps Desert Storm veterans and their immediate family members though a scholarship fund that has awarded nearly $400,000 to date.
    
    %h3 If you served in Desert Shield/Storm, <em>we need you</em>.
    
    %p We hope you will consider <a href="http://membership.desertstormvets.org/">becoming a member</a>, <a href="http://26.desertstormvets.org/">attending one of our reunions</a>, and <a href="https://www.facebook.com/viicorps/">visiting our Facebook page</a>.
    
    %p Jayhawk!
    
  %aside
    %h2 Would You Like to Be Involved with Your Fellow Desert Shield/Storm Vets?
    %ul
      %li.membership
        %a{href: "http://membership.desertstormvets.org/", title: "Join the VII Corps Desert Storm Veterans Association"}
          %h3
            Become a Member
            %span{class: "fa fa-link", aria: {hidden: "true"}}
          %figure
            %img{src: "/images/25985958605_e114a4edb3_k.jpg", alt: "General Franks and soldiers"}
          .description
            %p Regular membership in the Association is available to veterans who served in VII Corps during Desert Shield/Storm. Associate membership is available to anyone else including Desert Shield/Storm vets from other branches and civilians. <em>Join us</em>. <span class="fa fa-link" aria-hidden="true"></span>
      %li.reunions
        %a{href: "http://26.desertstormvets.org/", title: "Attend the Desert Storm 26th Anniversary Reunion"}
          %h3
            Attend a Desert Storm Reunion
            %span{class: "fa fa-link", aria: {hidden: "true"}}
          %figure
            %img{src: "/images/25987550935_8428c36b69_k.jpg", alt: "The 25th Reunion"}
          .description
            %p The VII Corps Desert Storm Veterans Association 26th Anniversary Reunion is 24&ndash;26 February 2017 in Houston, Texas. <em>Learn more and buy tickets</em>. <span class="fa fa-link" aria-hidden="true"></span>
      %li.facebook
        %a{href: "https://www.facebook.com/viicorps/"}
          %h3
            %span{class: "fa fa-facebook-square fa-lg", aria: {hidden: "true"}}
            VII Corps DSVA on Facebook