<footer>
  <div class="container">
    <p>The VII Corps Desert Storm Veterans Association is a tax exempt organization under 501(c)(19) formed for members of VII Corps who served in Desert Storm, including military, civilian, and family members</p>

    <p><a href="http://www.desertstormvets.org">http://www.desertstormvets.org</a> &bull; <a href="mailto:viicorpsdsva@gmail.com">viicorpsdsva@gmail.com</a></p>
    <div id="jayhawk_container">
      {% include jayhawk.html %}
    </div>
  </div>
</footer>