<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/javascripts/jquery.cycle2.min.js"></script>
  <script src="https://use.fontawesome.com/db3953a8eb.js"></script>
  <link href='https://s3.amazonaws.com/vii-corps-26/icon_32x32.png' rel='icon' sizes='32x32'>
  <link href='https://s3.amazonaws.com/vii-corps-26/icon_192x192.png' rel='icon' sizes='192x192'>
  <link href='https://s3.amazonaws.com/vii-corps-26/icon_precomposed.png' rel='apple-touch-icon-precomposed'>
</head>